<p>Bonjour {{name}},</p>
<p>Vous avez demandé la réinitialisation de votre mot de passe.</p>
<p>Veuillez cliquer sur le lien ci-dessous pour définir un nouveau mot de passe :</p>
<p><a href="{{url}}">Réinitialiser mon mot de passe</a></p>
<p>Si vous n'êtes pas à l'origine de cette demande, veuillez ignorer cet email.</p>
